//Bourbon & Neat imports
@import "../../node_modules/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "inc/vars"; // Must be loaded before Neat to initialise stuff
@import "../../node_modules/bourbon-neat/core/_neat.scss";

//Import global vars
@import "inc/containers";
@import "inc/images";
@import "inc/type";
@import "inc/forms";
@import "inc/svg";
@import "inc/anim";

body {
  background-color: $canvas;
  background-image: $background-svg;
  color: $text;
  font-family: $body-font;
}

#wrapper {
  background: $body;
  max-width: 1200px;
  min-height: 600px;
  position: relative;
  width: 80%;
  margin: 0 auto;
  display: flex;
  padding: 15px;
  border: 1px solid darken($canvas, 3%);
}

#header {

}

#content {
  padding: 0px 30px 30px 35px;
  margin-top: 100px;
  flex-grow: 1;
  font-size: 10pt;

  @media screen and (max-width: $break-tablet) {

  }
}

#sidebar {
  width: 200px;
  background-image: url('/img/nav_bg.png');
  background-position: 195px 200px;
  background-repeat: no-repeat;

  @media screen and (max-width: $break-tablet) {

  }

  ul.sidebar {
    list-style: none;
    font-family: $header-font;
    font-size: 18px;
    letter-spacing: 1px;
    padding-left: 10px;
    margin-top: 15px;

    @media screen and (max-width: $break-tablet) {

    }

    li {
      margin: 0 0 5px 0;
      position: relative;

      a {
        text-decoration: none;
        color: $text;
        transition: all 0.5s ease-in-out;

        &:hover, &.active {
          margin-left: 2px;
          color: lighten($text, 15%);
        }

        &.active {
          &::before {
            content: '>';
            display: block;
            position: absolute;
            font-size: 12px;
            left: -10px;
            top: 5px;
          }
        }
      }
    }
  }
}

#footer {
  height: 50px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;

  span {
    position: absolute;
    padding: 20px 15px 0 15px;
    font-size: 10px;
    color: darken($canvas, 5%);

    a, a:visited, a:active {
      color: darken($canvas, 5%);
      &:hover {
        color: darken($canvas, 10%);
      }
    }
  }
}
