.fade-anim-enter {
  opacity: 0.01;
  &.fade-anim-enter-active {
    opacity: 1;
    transition: 700ms;
  }
}

.fade-anim-leave {
  opacity: 1;
  &.fade-anim-leave-active {
    opacity: 0.01;
    transition: 700ms;
  }
}

.fade-anim-appear {
  opacity: 0.01;
  &.fade-anim-appear-active {
    opacity: 1;
    transition: 700ms;
  }
}
