.nopad {
  padding: 0;
}

.nomargin {
  margin: 0;
}

.container {
  width: 100%;

}

.project {
  width: 250px;
  height: 150px;
  background: $canvas;
  margin: 10px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;

  span {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}

.image-right {
  float: right;
  background: #f5f5f5;
  width: 150px;
  height: 150px;
  margin: 0px 10px;
}

.user-bar {
  position: absolute;
  display: block;
  top: 5px;
  right: 15px;

  p,a {
    font-size: 10pt;
    margin: 3px, 0px;
    padding: 0px;
  }
}
