form.form {
  width: 450px;

  label {
    span {
      display: inline-block;
      float: left;
      width: 100px;
      margin-top: 10px;
    }
  }

  input[type=text], input[type=email], input[type=password], textarea {
    background: lighten($canvas, 3%);
    border: 1px solid $canvas;
    border-bottom: 1px solid #c9c9c9;
    width: 250px;
    outline: none;
    padding: 8px 11px;
    margin: 5px 0px;
  }

  input[type=submit] {
    border: 1px solid $canvas;
    outline: none;
    background: lighten($canvas, 3%);
    padding: 10px 8px;
  }
}

.form-errors {
  width: 100%;
  background: #EF9A9A;
  border: 1px solid #E57373;
  color: #fff;
  text-align: center;
  padding: 20px 0px;
  margin: 0px 0px 10px 0px;
  border-radius: 1px;
}
