//Set colour vars
$text: #403b36;
$body: #ffffff;
$canvas: #f5f5f5;

//Fonts
@font-face {
  font-family: 'prestige';
  src: url('/fonts/prestige.otf');
}
@import url('https://fonts.googleapis.com/css?family=Amiko');

$header-font: 'prestige';
$body-font: 'Amiko', sans-serif;

//Set up Neat grid
$neat-grid: (
  columns: 12,
  gutter: 20px,
);

//Breakpoints
$break-tablet: 960px;
